body,
html,
.homepageV2 {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.homepageV2 h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.homepageV2 p {
    max-width: 1000px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

span {
    color: white;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - */

.homepage,
.homepageV2 {
    background-image: url("img/pesawat.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepageV2 {
    background-image: url("img/backgroundV2.jpg");
}

.nav-item {
    margin-left: 40px;
}

.navbar {
    margin-right: 20px;
}

.text-nav {
    font-size: 20px;
}

.hello-text {
    font-size: 40px;
    color: #59485B;
    font-weight: bold;
    letter-spacing: 2px;
}

.homepage-text {
    width: max-content;
    padding-left: 10%;
    padding-top: 400px;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .hello-text {
        font-size: 25px;
    }
    .csui-text {
        font-size: 15px;
    }
}


/* - - - - - - - - - CSS for About Page - - - - - - - - - */

.about {
    padding: 100px;
    margin-bottom: 120px;
}

.about-me-text,
.educations-text,
.skill-text,
.organization-text,
.contact-me-text {
    width: max-content;
    font-weight: bold;
    padding-left: 70px;
}

.hy-im-ari-text {
    max-width: 350px;
}

.resume-button {
    margin-top: 30px;
}

.personal-data {
    width: 350px;
}

.personal-data p {
    padding: 0;
    margin: 0;
    text-align: right;
}

.about-me-foto {
    margin: 0 100px;
}

.about-me-content {
    margin-top: 100px;
}


/* - - - - - - - - - CSS for Education Page - - - - - - - - - */

.education {
    padding: 150px;
    padding-right: 170px;
    background-color: #66D4FF;
}

.educations-text {
    width: 100%;
    text-align: right;
}

.foto-sma,
.foto-fasilkom {
    min-width: 150px;
    max-height: 150px;
}

.about-sma-1 {
    max-width: 600px;
}

.education-content h3 {
    font-weight: bold
}

.sma-text {
    margin-left: 50px;
    padding-top: 20px;
}

.fasilkom-text {
    margin-right: 100px;
    padding-top: 20px;
}

.fasilkom-content {
    margin-top: 80px;
}

.sma-content {
    width: 100%;
}

.fasilkom-content h3,
.fasilkom-content p {
    text-align: right;
    max-width: 600px;
}


/* - - - - - - - - - CSS for Skill Page - - - - - - - - - */

.skill {
    padding: 100px;
    padding-right: 170px;
}

.skill-container {
    width: 500px;
}

.progress {
    margin-bottom: 30px;
}

.skill-container h3 {
    margin-bottom: 10px;
}

.skill-content {
    margin-top: 40px;
    margin-left: 60px;
}

.skill-content h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.projects-container {
    width: 500px;
    margin-left: 100px;
}


/* - - - - - - - - - CSS for Organization Page - - - - - - - - - */

.organization {
    padding: 100px;
    background-color: #66D4FF;
}

.organization-text {
    width: 100%;
    text-align: right;
}

.card {
    width: 370px;
    height: 520px;
    margin: 0 30px;
    margin-top: 30px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.organization-container img {
    width: 150px;
    margin-left: 30%;
    margin-top: 5%;
}

.organization-container p {
    padding: 10px;
    text-align: center;
}

.organization-container h3 {
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .organization-container p {
        padding: 10px;
        text-align: center;
    }
}


/* - - - - - - - - - CSS for Contact Me Page - - - - - - - - - */

.contact-me-text {
    padding: 80px;
}

.contact-image-container img {
    margin: 0 40px;
    width: 80px;
    margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
    .contact-me-text {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .contact-me-text {
        font-size: 10px;
    }
}

;